@import "tailwindcss";

/*!

I dress the app in hues and tones,  
but sometimes I carry hidden stones.  
Inspect me well, don’t just glance,  
Your secret key hides in this dance.

*/

* {
  font-family: "Inter";
}

body::after {
  content: "KEY{SriCity}";
  display: none;
}
